.idea/
.DS_Store

/.gradle/
/build/

/tmp

/shared/build/

/jvm_app/build/
/jvm_app/neverdo.db

/apple_apps/neverdo.xcodeproj/xcuserdata/
/apple_apps/neverdo.xcodeproj/project.xcworkspace/xcuserdata/
